@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans-Regular'), url(fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.ttf) format('truetype');
}

.sprite { background: url('images/sprite.png') no-repeat top left; width: 96px; height: 96px;  } 
.sprite.back { background-position: 0 0; width: 200px; height: 180px; } 
.sprite.blank { background-position: -201px 0; } 
.sprite.down { background-position: -298px 0; } 
.sprite.front { background-position: -395px 0; width: 200px; height: 180px; } 
.sprite.front_time_used { background-position: -596px 0; width: 200px; height: 180px; } 
.sprite.info { background-position: -797px 0; width: 18px; height: 18px; } 
.sprite.left { background-position: -816px 0; } 
.sprite.play { background-position: -913px 0; width: 130px; height: 64px; } 
.sprite.right { background-position: -1044px 0; } 
.sprite.up { background-position: -1141px 0; } 

body {
  margin: 0px;
}

* {
  font-family: 'Open Sans';
  box-sizing: border-box;
}

#front, #back {
  margin: 100px auto 50px auto;
  width: 300px;
  height: 180px;
  overflow: hidden;
  position: relative;
}

#front {
  background-color: #242897;
  border: 1px solid #000;
  border-radius: 4px;
  color: #fff;
}

#attract, #waiting, #playing, #time-used, #play-field, #game-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#attract, #waiting, #playing, #game-over {
  display: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
}

#play {
  width: 130px;
  height: 64px;
  line-height: 64px;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  color: #000;
}

#time-used {
  width: 0px;
  z-index: 1;
  background-color: #B40404;
}

#play-field {
  z-index: 2;
  padding: 15px;
}

#out {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px auto;
}

#settings {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#back {
  display: none;
  font-size: 14px;
  color: #000;
}

#back-content {
  padding: 25px;
}

#done {
}

#score {
  height: 27px;
  text-align: center;
  font-size: 24px;
}

.input-group {
  margin-bottom: 1px;
}

#username, #crypt {
  display: inline-block;
  width: 100%;
  font-size: 14px;
}



body.attract #attract {
  display: block;
}

body.waiting #waiting {
  display: block;
}

body.playing #playing {
  display: block;
}

body.game-over #game-over {
  display: block;
}

#description {
  margin: 0 auto;
  padding: 25px;
  max-width: 800px;
}

#description p {
  margin: 0 0 15px 0;
}