@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans-Regular'), url(fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.ttf) format('truetype');
}

.sprite { background: url('images/sprite.png') no-repeat top left; width: 192px; height: 192px; }
.sprite.blank { background-position: 0 0; }
.sprite.up { background-position: -193px 0; }
.sprite.right { background-position: -386px 0; }
.sprite.down { background-position: -579px 0; }
.sprite.left { background-position: -772px 0; }
.sprite.wait { background-position: -965px 0; }

* {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#game-wrapper {
  padding: 100px 0 50px 0;
  background: linear-gradient(to bottom, #555, #333);
}

html, body, #game-wrapper {
  height: 100%;
}

#front, #back {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

#front {
  background-color: #fff;
  color: #000;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.27);
}

#front.attract #attract, #front.waiting #waiting, #front.playing #round-time-used, #front.playing #playing, #front.game-over #round-time-used, #front.game-over #game-over {
  display: flex;
}

.layer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.success {
  background-color: #5cb85c;
}

.warning {
  background-color: #f0ad4e;
}

.danger {
  background-color: #d9534f;
}

.unranked {
  background-color: #555555;
}

.bronze {
  background: linear-gradient(to bottom, #D39B77, #FEFEF3, #935D38, #632E05);
}

.silver {
  background: linear-gradient(to bottom, #CACED2, #F1F2F6,  #757F88);
}

.gold {
  background: linear-gradient(to bottom, #FCFCF4, #F7E36D, #B55F06, #5A4122);
}

.platinum {
  background: linear-gradient(to bottom, #ECEDE8, #8E8F89, #67655F, #D8DCD8, #8C8B84);
}

.diamond {
  /*background: linear-gradient(to bottom, #F4F5F8, #B5BDC3, #335B80, #0B2B3D);*/
  /*background: linear-gradient(to bottom, #B4BCC1 10%, #F0F0F2, #E7E8EB, #697B82);*/
  /*background: linear-gradient(to bottom, #F4F5F8, #335B80, #6086A4, #939F90, #DBDEE1, #B5BDC3, #335462);*/
  background: linear-gradient(7deg, #335B80, #F4F5F8,  #939F90, #DBDEE1, #B5BDC3, #335462)
}

.strontium {
  background: linear-gradient(to bottom, #E1D7B6, #D7CEB0, #E3B56C, #8B7A6A);
}

.vanadium {
  background: linear-gradient(to bottom, #C6CDD9, #42455A, #73788C, #4B4F65);
}

.play {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  font-size: 30px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
}

.play:hover {
  background-color: #286090;
  border-color: #204d74;
}

.play:active {
  background-color: #286090;
  border-color: #204d74;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.play:focus {
  background-color: #286090;
  border-color: #122b40;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#settings {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#waiting {
  font-size: 40px;
  font-weight: bold;
}

#out {
  margin-bottom: 20px;
}

#score {
  margin-bottom: 20px;
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  line-height: 1;
}

#time-used-wrapper {
  width: 100%;
}

#time-used {
  position: relative;
  margin: 0 20px;
  height: 30px;
  text-align: center;
  background-color: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#time-used-track {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #337ab7;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}

#time-used-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000;
}

#results {
  margin-bottom: 40px;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.5;
}

#back {
  display: none;
  font-size: 14px;
}

#back-content {
  padding: 25px;
}

#done {
}

.input-group {
  margin-bottom: 1px;
}

#username, #crypt {
  display: inline-block;
  width: 100%;
  font-size: 14px;
}

#description {
  margin: 100px auto 0 auto;
  padding: 20px;
  width: 800px;
  background: #eee;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);
}

#description p {
  margin: 0 0 15px 0;
}