@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans-Regular'), url(fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.ttf) format('truetype');
}

.sprite { background: url('images/sprite.png') no-repeat top left; width: 96px; height: 96px; }
.sprite.blank { background-position: 0 0; }
.sprite.up { background-position: -97px 0; }
.sprite.right { background-position: -194px 0; }
.sprite.down { background-position: -291px 0; }
.sprite.left { background-position: -388px 0; }

* {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#game-wrapper {
  padding: 100px 0 50px 0;
  background: linear-gradient(to top, #1f1c2c, #928dab);
}

html, body, #game-wrapper {
  height: 100%;
}

#front, #back {
  margin: 0 auto;
  width: 280px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

#front {
  background-color: #fff;
  color: #000;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.27);
}

#front.attract #attract, #front.waiting #waiting, #front.playing #time-used, #front.playing #playing, #front.game-over #time-used, #front.game-over #game-over {
  display: flex;
}

.layer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.unranked {
  background-color: #555555;
}

.bronze {
  background-color: #CD7F32;
}

.silver {
  background-color: #C0C0C0;
}

.gold {
  background-color: #D4AF37;
}


.play {
  display: inline-block;
  padding: 4px 15px;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  font-size: 18px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
}

.play:hover {
  background-color: #286090;
  border-color: #204d74;
}

.play:active {
  background-color: #286090;
  border-color: #204d74;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.play:focus {
  background-color: #286090;
  border-color: #122b40;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#settings {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#waiting {
  font-size: 24px;
  font-weight: bold;
}

#out {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

#score {
  height: 27px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

#results {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

#back {
  display: none;
  font-size: 14px;
}

#back-content {
  padding: 25px;
}

#done {
}

.input-group {
  margin-bottom: 1px;
}

#username, #crypt {
  display: inline-block;
  width: 100%;
  font-size: 14px;
}

#description {
  margin: 100px auto 0 auto;
  padding: 20px;
  max-width: 800px;
  background: #eee;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);
}

#description p {
  margin: 0 0 15px 0;
}