@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans-Regular'), url(fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.ttf) format('truetype');
}

.sprite { background: url('images/sprite.png') no-repeat top left; width: 96px; height: 96px; }
.sprite.blank { background-position: 0 0; }
.sprite.down { background-position: -97px 0; }
.sprite.info { background-position: -194px 0; width: 18px; height: 18px; }
.sprite.left { background-position: -213px 0; }
.sprite.right { background-position: -310px 0; }
.sprite.up { background-position: -407px 0; }

body {
  margin: 0px;
}

* {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
}

#front, #back {
  margin: 100px auto 50px auto;
  width: 280px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

#front {
  border: 1px solid #000;
  border-radius: 6px;
}

#front.attract #attract, #front.waiting #waiting, #front.playing #playing, #front.game-over #game-over {
  display: flex;
}

.layer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #242897;
  color: #fff;
}

.play {
  display: inline-block;
  padding: 6px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#settings {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#waiting {
  font-size: 24px;
  font-weight: bold;
}

#out {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

#time-used-bar {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

#time-used {
  width: 0px;
  height: 30px;
}

.unranked {
  background-color: #555555;
  color: #fff;
}

.bronze {
  background-color: #CD7F32;
  color: #000;
}

.silver {
  background-color: #C0C0C0;
  color: #000;
}

.gold {
  background-color: #D4AF37;
  color: #000;
}

#score {
  height: 27px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

#game-over-out {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

#back {
  display: none;
  font-size: 14px;
  color: #000;
}

#back-content {
  padding: 25px;
}

#done {
}

.input-group {
  margin-bottom: 1px;
}

#username, #crypt {
  display: inline-block;
  width: 100%;
  font-size: 14px;
}

#description {
  margin: 0 auto;
  padding: 25px;
  max-width: 800px;
}

#description p {
  margin: 0 0 15px 0;
}